* {
    font-family: "Italiana", "Roboto", sans-serif;
    font-weight: 700;
    /* background-color: rgb(255, 144, 144); */
}

body {
    margin: auto;
    padding: 60px;
    max-width: 800px;
    text-align: center;
}

body .recipe {
    text-align: left;
}

li {
    padding: 3px;
}

a {
    padding-left: 10px;
    padding-right: 10px;
}