* {
    font-family: "Italiana", "Roboto", sans-serif;
    font-weight: 700;
    /* background-color: rgb(255, 144, 144); */
}

body {
    margin: auto;
    padding: 60px;
    max-width: 800px;
    text-align: center;
}

body .recipe {
    text-align: left;
}

img {
    margin: 0px auto;
    width: 700px;
    height: auto;
}

li {
    margin: 3px;
}

a {
    margin: 0px 5px;
}

#garfield {
    margin-top: 20px;
    width: 200px;
    height: auto;
}

#italian-chef-gif {
    width: 500px;
    height: auto;
}